header{
	background-color: green;
	color: white;
	font-family: "Comic Sans Ms";
	text-align: center;
	border: 1px solid black;
}
body{
	/* The image used */
    background-image: url('14.jpg');

    /* Full height */
     height: auto; 

       /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.icons{
    height:19px;
    width:21px;
    margin:0px 10px;
    filter:brightness(0) invert(1);
    /* filter: invert(1); */
}

.icons:hover{
    filter:brightness(1);
}

nav{
	overflow: hidden;
	background-color: black;
	overflow: hidden;
}
nav a{
	float: left;
	color: white;
	text-decoration: none;
	padding: 14px 12px 11px 10px;
}
nav a:hover{
	background-color: gray;
	color: white;
}
/*this is about us*/
h3{
	font-size: 30px;
	font-family: "Comic Sans Ms";
	background-color: blue;
	color: white;
	padding-left: 10px;
}
p{
	text-shadow: 10px; 
	margin: 0px;
	padding-top: 10px;
	color: black;
	font-size: 20px;
}
footer{
	clear: both;
    float: right;
}
